.details{
    height: 660px;
    width: 350px;
  
    }
    .Image {
        width: 330px;
        height: 350px;
        border-radius: 20px;
        object-fit: cover;
        transition: all 1s;
      }